<div class="flash-message__container">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-message flash-message--{{ label }}">
                <div class="flash-message__message">{{ message }}</div>
                <div class="flash-message__close" data-flash-message="close"><i class="fa fa-times fa-fw"></i></div>
            </div>
        {% endfor %}
    {% endfor %}
</div>