{% extends '@CmsTemplate/main.html.twig' %}

{% block content %}

    {% include cms_atom('heading-row') with {label: heading|trans} only %}

    {{ datatable|raw }}

{% endblock %}


    {#{% embed organism('datatable') with {#}
    {#repository: {#}
    {#name: "repository.credit.transaction",#}
    {#method: "queryAllWithUsersAndType",#}
    {#},#}
    {#searchColumns: ['t.id', 't.amount', 't.created', 't.processDate', 'tuf.nickname', 'tut.nickname', 'tt.label' ],#}
    {#columns: {#}
    {#id : {label: 'cms.id'|trans},#}
    {#from : {label: 'from'|trans},#}
    {#to : {label: 'to'|trans},#}
    {#type : {label: 'type'|trans},#}
    {#amount : {label: 'amount'|trans},#}
    {#created : {label: 'created'|trans},#}
    {#processDate : {label: 'processDate'|trans},#}
    {#action : {label: ''},#}
    {#}} %}#}
    {#{% block id %}#}
    {#{% verbatim %}#}
    {#{{ row.id }}#}
    {#{% endverbatim %}#}
    {#{% endblock %}#}

    {#{% block from %}#}
    {#{% verbatim %}#}
    {#{% if row.from %}#}
    {#{{ row.from.nickname }} {{ row.from.id }}#}
    {#{% else %}#}
    {#system#}
    {#{% endif %}#}
    {#{% endverbatim %}#}
    {#{% endblock %}#}

    {#{% block to %}#}
    {#{% verbatim %}#}
    {#{% if row.to %}#}
    {#{{ row.to.nickname }} {{ row.to.id }}#}
    {#{% else %}#}
    {#system#}
    {#{% endif %}#}
    {#{% endverbatim %}#}
    {#{% endblock %}#}

    {#{% block type %}#}
    {#{% verbatim %}#}
    {#{{ row.type.label }}#}
    {#{% endverbatim %}#}
    {#{% endblock %}#}

    {#{% block amount %}#}
    {#{% verbatim %}#}
    {#{{ row.amount|bananas }}#}
    {#{% endverbatim %}#}
    {#{% endblock %}#}


    {#{% block created %}#}
    {#{% verbatim %}#}
    {#{{ row.created | niceDate }}#}
    {#{% endverbatim %}#}
    {#{% endblock %}#}

    {#{% block processDate %}#}
    {#{% verbatim %}#}
    {#{{ row.processDate | niceDate }}#}
    {#{% endverbatim %}#}
    {#{% endblock %}#}

    {#{% block action %}#}
    {#{% verbatim %}#}
    {#-#}
    {#{% endverbatim %}#}
    {#{% endblock %}#}

    {#{% endembed %}#}