<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            {% include cms_atom('sidebar-item') with {
            icon: 'line-chart',
            label: '_dashboard'|trans,
            href: path('cms_dashboard_default'),
            } %}



            {# Kategorie #}
            {% include cms_atom('sidebar-item') with {
            icon: 'bars',
            label: '_categories'|trans,
            href: path('cms_category_default')
            } only %}

            {# Kategorie #}
            {% include cms_atom('sidebar-item') with {
            icon: 'cut',
            label: '_products'|trans,
            href: path('cms_product_default')
            } only %}

            {# Uzivatele #}
            {% include cms_atom('sidebar-item') with {
            icon: 'users',
            label: '_users'|trans,
            href: path('cms_user_default')
            } only %}

            {# CHYBY #}
            {% include cms_atom('sidebar-item') with {
            icon: 'exclamation-triangle',
            label: '_errors'|trans,
            href: path('cms_error_default')
            } only %}

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->