@import (reference) '../../dependencies';

html, body {
    position: relative;
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}