{# Volitelné parametry #}
{% set classes = (classes is defined) ? classes : [] %}
{% set modifiers = (modifiers is defined) ? modifiers : [] %}
{% set attributes = (attributes is defined) ? attributes : [] %}
{% set style = (style is defined) ? style : 'default' %}
{% set confirm = (confirm is defined) ? confirm : false %}

{# Helpers #}
{% set style = 'btn-' ~ style %}
{% set classes = classes|merge([style]) %}

{% if block is defined %}
    {% set block = 'btn-block' %}
    {% set classes = classes|merge([block]) %}
{% endif %}

{% set class = componentClass('btn', modifiers, classes) %}
{% set attributes = componentAttributes(attributes) %}


{% if confirm %}

    {% set confirm = " onclick=\"return confirm('" ~ confirm ~ "')\"" %}

{% else %}

    {% set confirm = '' %}

{% endif %}



<a href="{{ href }}" {{ attributes|raw }} class="{{ class }}" {{ confirm|raw }}>{% if icon is defined %}<i class="fa fa-{{ icon }}"></i> {% endif %}{{ label }}</a>