<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('cms_dashboard_default') }}">{{ 'cms.title'|trans }}</a>
    </div>
    <!-- /.navbar-header -->

    {% include cms_molecule('navbar-top-links') only %}

    {% include cms_molecule('sidebar') only %}

</nav>