{% embed '@SnippetTemplate/snippet.html.twig' with {
element: 'div',
class: 'datatable datatable-content',
} %}
    {% block snippet %}

        <div class="datatable-blocker">
            <i class="fa fa-spinner datatable-blocker-spinner"></i>
        </div>

        <div class="panel-body">
            <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
                               id="dataTables-example" role="grid" aria-describedby="dataTables-example_info"
                        >

                            <thead>
                            <tr role="row">
                                {% for key,column in columns %}

                                    <th
                                            {% if column.order is defined and column.order == true %}

                                                {% set cls = "sorting" %}
                                                {% set dataOrder = key ~ ".asc" %}
                                                {% if order != null %}
                                                    {% set ord = order|split('.') %}
                                                    {% if key == ord[0] %}
                                                        {% set cls = cls ~ "_" ~ ord[1] %}
                                                    {% endif %}

                                                    {% if key == ord[0] and ord[1] == "asc" %}
                                                        {% set dataOrder = key ~ ".desc" %}
                                                    {% endif %}

                                                {% endif %}

                                                class="{{ cls }}" data-role="datatable-order" data-order="{{ dataOrder }}"

                                            {% endif %}
                                    >{{ column.label|trans }}</th>
                                {% endfor %}
                            </tr>
                            </thead>


                            <tbody>

                            {% if pagination.totalCount > 0 %}
                                {% for row in rows %}

                                    <tr>
                                        {% for column in columns %}
                                            <td>{{ include(template_from_string(column.render)) }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            {% else %}

                                <tr>
                                    <td class='center' colspan="{{ columns|length }}">{{ 'datatable.emptyResult'| trans }}</td>
                                </tr>
                            {% endif %}

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12 ">
                                {#{{ pagination.page*pagination.itemsPerPage - pagination.itemsPerPage + 1 }}#}
                                {#- {% if pagination.itemCount < pagination.page*pagination.itemsPerPage %}{{ pagination.itemCount }}{% else %}{{ pagination.page*pagination.itemsPerPage }}{% endif %}#}
                                {#/ {{ pagination.itemCount }}#}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label>

                                    {{ 'datatable.numberOfRows'|trans }}:
                                    <select data-role="datatable-limit" class="form-control input-sm">
                                        <option {% if limit == 10 %}selected="selected"{% endif %} value="10">10
                                        </option>
                                        <option {% if limit == 25 %}selected="selected"{% endif %} value="25">25
                                        </option>
                                        <option {% if limit == 50 %}selected="selected"{% endif %} value="50">50
                                        </option>
                                        <option {% if limit == 100 %}selected="selected"{% endif %} value="100">100
                                        </option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">

                        {% include "@DataTableTemplate/pagination.html.twig" with {
                        route: "backend_datatable_redraw",
                        params: {
                            repository_name: repository_name,
                            repository_method: repository_method,
                            repository_method_params: repository_method_params,
                            searchColumns: searchColumns,
                            searchQuery: searchQuery,
                            columns: columns,
                            limit: pagination.pageLimit },
                        pagination: pagination
                        } only %}

                    </div>
                </div>
            </div>
            <!-- /.table-responsive -->

        </div>

    {% endblock %}
{% endembed %}