{% for key,col in columns %}
    {% if block(key) is defined %}
        {% set render = block(key)|trim %}
        {% set columns  = columns|merge({(key):{label: col.label, order: (col.order is defined ? true : false), render: render}}) %}
    {% endif %}
{% endfor %}

<div class="col-lg-12 datatable" data-role="datatable"
     data-href="{{ path('addOn_datatable_redraw', {
         repository_name: repository_name,
         repository_method: repository_method,
         repository_method_params: repository_method_params,
         searchColumns: searchColumns,
         columns: columns,
         limit: '__LIMIT__',
         order: '__ORDER__',
         page: '__PAGE__',
         searchQuery: '__SEARCH-QUERY__'
     }) }}">
    <div class="panel panel-default">

        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">

                    {% if newLink is defined and newLabel is defined %}
                        <a href="{{ newLink }}" class="btn btn-success">{% if icon is defined %}<i
                                class="fa fa-{{ icon }}"></i> {% endif %}{{ newLabel|trans }}</a>
                    {% endif %}

                </div>
                <div class="col-xs-6">
                    <div class="form-inline search">
                        <div class="form-group">
                            <label class="control-label" for="datatable[search]">{{ "datatable.search"|trans }}
                                <input type="text" name="datatable[search]" class="form-control" value="">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ snippet ('datatable', {
            repository_name: repository_name,
            repository_method: repository_method,
            repository_method_params: repository_method_params,
            searchColumns: searchColumns,
            columns: columns,
        }) }}

    </div>
</div>
