
<!DOCTYPE html>
<html lang="cs">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ 'cms.title'|trans }} {{ 'website'|trans }}</title>

    {{ service('asset').style('/cms/styles.css') | raw }}
</head>

<body>

{%  include ('@FlashMessageTemplate/template.html.twig') only %}

{% if app.user %}

<div id="wrapper">

    {% include cms_organism('navigation') only %}

    <div id="page-wrapper">
        {% endif %}

        {% block content %}{% endblock %}

        {% if app.user %}

    </div>
</div>

{% endif %}

{{ service('asset').script('/cms/scripts.js') | raw }}


</body>

</html>
