{% extends '@CmsTemplate/main.html.twig' %}

{% block content %}

    {% include cms_atom('heading-row') with {label: heading} only %}

    <div class="row">

        <div class="col-md-6">

            {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
            {{ form(form) }}

        </div>

        <div class="col-md-6"></div>
    </div>

{% endblock %}