.flash-message {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #fff;
  background: red;
  border-color: #ff1a1a;
  border-bottom: 1px solid;
  /**
     * Text zprávy
     *
     * [1] Omezení, aby se text necpal do křížku.
     */
}
.flash-message__message {
  display: inline-block;
  width: 80%;
  /* [1] */
  text-align: center;
}
.flash-message__close {
  position: absolute;
  right: 0;
  padding-right: 8px ;
  font-size: 16px;
  line-height: 24px;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  cursor: pointer;
}
.flash-message__container {
  position: fixed;
  z-index: 9999;
  width: 100%;
  box-shadow: 0px 2px 6px #505050;
}
.flash-message--error {
  background-color: #e30000;
  border-color: #fc0000;
}
.flash-message--success {
  background-color: forestgreen;
  border-color: #279f27;
}
.flash-message--info {
  background-color: dodgerblue;
  border-color: #389dff;
}