{% if icon is not defined %}
    {% set icon = '' %}
{% endif %}

{% set noIcon = (noIcon is defined) ? noIcon : false %}

<li>
    <a href="{{ href }}">{% if noIcon == false %}<i class="fa fa-{{ icon }} fa-fw"></i> {% endif %}{{ label }}

        {% if secondLevel is defined %}<span class="fa arrow"></span>{% endif %}
    </a>

    {% if secondLevel is defined %}

        <ul class="nav nav-second-level">

            {% for subitem in secondLevel %}

                {% include cms_atom('sidebar-item') with {
                    noIcon: true,
                    label: subitem.label,
                    href: subitem.href
                } only %}

            {% endfor %}

        </ul>

    {% endif %}

</li>