<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ service('asset').style('/styles.css') | raw }}
</head>
<body>

    {% block body %}{% endblock %}

    {{ service('asset').script('/scripts.js') | raw }}

</body>
</html>
