{% extends '@CmsTemplate/main.html.twig' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'cms.title'|trans }} {{ 'website'|trans }}</h3>
                    </div>

                    <div class="panel-body">

                        {{ form_start(form) }}

                        {{ form_errors(form) }}

                        <fieldset>

                            <div class="form-group">
                                {{ form_widget(form.email, { attr: { class: 'form-control' }} ) }}
                            </div>

                            <div class="form-group">
                                {{ form_widget(form.password, { attr: { class: 'form-control' }} ) }}
                            </div>

                            {{ form_widget(form.save, { attr: { class: 'btn btn-lg btn-success btn-block' }} ) }}

                        </fieldset>

                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
