{% set snippetElement = (element is defined) ? element : "span" %}
{% set snippetClass = (class is defined) ? class : "" %}
{% set snippetAttributes = (attributes is defined) ? attributes : [] %}

<{{ snippetElement }} class="snippet {{ snippetClass }}" data-snippet-id="snippet--{{ snippetName }}"{% for attr, value in snippetAttributes %}{% if value is not null %}{{ attr }}="{{ value }}"{% endif %}{% endfor %}>
    {% block snippet %}{% endblock %}
</{{ snippetElement }}>